<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>My Blog History</title>
</head>
<body>
    <h1>My Blog History</h1>
    
    <!-- Display the user's blog posts -->
    {% for post in posts %}
    <div class="blog-post">
        <h2><a href="{{ url_for('post', post_id=post[0]) }}">{{ post[1] }}</a></h2>
        <p>Posted on {{ post[3] }}</p>
        <p>{{ post[2] }}</p>
    </div>
    {% endfor %}


    <!-- Link to go back to the home page -->
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>



